@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');
.board{
  margin:auto;
  width:410px;
}
.container{
  margin-top:15px;
  text-align: center;
}

.fieldRow{
  display:flex;
}

.field{
  width:135px;
  height:135px;
  line-height:135px;
  font-size:75px;
  text-align:center;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
}
.noLeftBorder{
  border-left:0 !important;
}
.noTopBorder{
  border-top:0 !important;
}
.X::before{
  content:"X";
  font-family: 'Overpass', sans-serif;
}
.O::before{
  content:"O";
  font-family: 'Overpass', sans-serif;
}

.field{
  cursor:pointer;
}
.field.X, .field.O{
  cursor:not-allowed;
}
.options{
  text-align:center;
}
.score{
  text-align:center;
}
.homePageDiv{
  text-align:center;
}
.options button{
  cursor:pointer;
}
.verticalLine{
  width:3px;
  background-color:red;
  height:400px;
  position:relative;
  left:0;
  margin:auto;
  margin-bottom:-400px;
  margin-top:15px;
}
.drawn{
  background-color:rgba(0,100,100,0.9);
  color:#cccccc;
  position:relative;
  left:0;
  margin:auto;
  height:75px;
  font-size:48px;
  margin-bottom:-75px;
  line-height:70px;
  margin-top:15px;
  text-align:center;
  width:415px;
  transform:translate(0px, 173px);
}
.horizontalLine{
  height:3px;
  background-color:red;
  width:400px;
  position:relative;
  left:0;
  margin:auto;
  margin-bottom:-66.5px;
  margin-top:78.5px;
}

.diagonalLine{
  height:3px;
  background-color:red;
  width:565px;
  position:relative;
  left:0;
  margin:auto;
  margin-bottom:-207px;
  margin-top:219px;
}
.oToMove .field:hover{
  background:rgba(200,200,0,0.35);
}

.xToMove .field:hover{
  background:rgba(0,0,255,0.35);
}
.field.X:hover, .field.O:hover{
  background:rgba(255,0,0,0.35);
}


.gameOver .field:hover{
  background:rgba(255,0,0,0.35);
  cursor:not-allowed;
}

.homePage{
  cursor:pointer;
}
